<!DOCTYPE html>
<html lang="ko">
{{>main/layout/main_index_layout_head}}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>테스트입니다.</div>
    <div id="example-table"></div>
</body>
</html>
<script src="/js/main_index.js"></script>